@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  background: hsl(275, 100%, 97%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  object-fit: cover;
}

.container .box-container {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  max-width: 400px;
}
.container .box-container .head {
  display: flex;
  align-items: center;
  gap: 15px;
}
.container .box-container .head h1 {
  font-size: 40px;
  font-weight: 700;
  color: hsl(292, 42%, 14%);
}
.content-text .box {
  margin: 15px 0;
}
.content-text .box .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  transition: all 0.5s ease-in-out;
}
.content-text .box .text h2 {
  font-size: 14px;
}
.content-text .box .text .minus {
  display: none;
}

.box p {
  font-size: 12px;
  bakcground: hsl(292, 16%, 49%);
  max-height: 0px;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}
p.show {
  max-height: 100px;
}
